* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: red;
  animation-name: move;
  animation-duration: 3s;
}

@keyframes change-color {
    0% {
      background-color: red;
    }

    25% {
      background-color: blue;
    }

    50% {
      background-color: green;
    }

    75% {
      background-color: yellow;
    }

    100% {
      background-color: red;
    }
}

@keyframes move {
  0% {
    top: 0;
    left: 0;
    background-color: red;
  }

  12% {
    background-color: blue;
  }

  25% {
    top: 0;
    left: calc(100% - 200px);
  }

  50% {
    top: calc(100% - 200px);
    left: calc(100% - 200px);
  }

  75% {
    top: calc(100% - 200px);
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}