* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 50%;
  padding: 1em;
}

.col img {
  position: relative;
  filter: grayscale(.8);
  transition: all .5s ease-out;
}

.col img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  z-index: 10;
}